:root {
  font-family: 'JetBrains Mono', monospace;
}

.chat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Занимает всю высоту экрана */
  background-color: var(--dark-color); /* Фон контейнера */
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh; /* Высота контейнера для чата */
  width: 70%; /* Ширина контейнера */
  background: var(--grey-color);
  border-radius: 8px;
  overflow: hidden; /* Прячем всё, что выходит за рамки контейнера */
}

.chat-window {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Заполняет всё доступное пространство */
  padding: 10px;
}

.messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Занимает доступное пространство */
  overflow-y: auto; /* Прокручиваемая область для сообщений */
  padding: 10px;
  max-height: calc(100% - 60px); /* Ограничение высоты для области сообщений */
}

.message {
  margin-bottom: 10px;
}

.message-form {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: var(--grey-color);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Тень для формы */
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 1; /* Убедитесь, что форма всегда поверх сообщений */
}

.message-input {
  flex: 1; /* Поле ввода занимает всю ширину */
}

.btn {
  height: 100%;
  width: 15%;
  background-color: #5c6bc0; /* Цвет кнопки */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3f51b5; /* Цвет при наведении */
}
