<div class="chat-wrapper">
  <div class="chat-container">
    <div class="chat-window">
      <div class="messages">
        <div *ngFor="let msg of storageMessages" class="message">
          <strong>{{ msg.username }}:</strong> {{ msg.text }} <span class="time-in-message">{{ msg.time }}</span>
        </div>
      </div>
    </div>

    <form (ngSubmit)="addMessage()" [formGroup]="messageForm" class="message-form">
      <mat-form-field appearance="outline" class="message-input-field">
        <input matInput formControlName="message" class="message-input" placeholder="Ваше сообщение" />
      </mat-form-field>

      <button class="btn" type="submit">Отправить</button>
    </form>
  </div>
</div>
